body {
    background-attachment: fixed;
    background-image: url('login_student.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
  }


  body::before {
   background: inherit;
    content: '';
    filter: blur(5px);
    position: absolute;
   top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
  }




  .login{
      position: absolute;
      top: 30%;
      left: 50% ;
      transform: translate(-50%, -50%);
      height: 150px;
      width: 350px;
      padding: 10px;
  }

  .login h1{
      color: #fff;
      margin: 0 0 0 55px;
  }


  .login p{
      color: #fff;
  }

  .login input[type=text]{
      width: 250px;
      height: 30px;
      background: transparent;
      border: 1px solid rgba(255,255,255,0.6);
      border-radius: 2px;
      color: #fff;
      font-family: 'Exo', sans-serif;
      font-size: 16px;
      font-weight: 400;
      padding: 4px;
  }

  .login input[type=password]{
      width: 250px;
      height: 30px;
      background: transparent;
      border: 1px solid rgba(255,255,255,0.6);
      border-radius: 2px;
      color: #fff;
      font-family: 'Exo', sans-serif;
      font-size: 16px;
      font-weight: 400;
      padding: 4px;
      margin-top: 10px;
  }

  .login input[type=submit]{
      width: 260px;
      height: 35px;
      background: #fff;
      border: 1px solid #fff;
      cursor: pointer;
      border-radius: 2px;
      color: #a18d6c;
      font-family: 'Exo', sans-serif;
      font-size: 16px;
      font-weight: 400;
      padding: 6px;
      margin-top: 10px;
  }

  .login input[type=submit]:hover{
      opacity: 0.8;
  }

  .login input[type=submit]:active{
      opacity: 0.6;
  }

  .login input[type=text]:focus{
      outline: none;
      border: 1px solid rgba(255,255,255,0.9);
  }

  .login input[type=password]:focus{
      outline: none;
      border: 1px solid rgba(255,255,255,0.9);
  }

  .login input[type=submit]:focus{
      outline: none;
  }

  .login a{
      font-size: 20px;
      color: #fff;
      margin: 0 0 0 55px;
  }


  ::-webkit-input-placeholder{
     color: rgba(255,255,255,0.6);
  }

  ::-moz-input-placeholder{
     color: rgba(255,255,255,0.6);
  }
