<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
  <title>メッセージ送信完了</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="c_send.css" media="screen">
  <!-- <meta http-equiv="refresh" content="2; URL="> -->

<html>
<body>

  <div class="contents-wrapper">
    <div class="contents">
      <div class="floating-box">
        <h1>送信完了しました。</h1>
        <p>メッセージを受け付けました!</p>
        <span><a href="/student/{{s_id}}" >もどる </a></span>
      </div>
    </div>
  </div>

</body>
</html>
