<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<title>サークル情報</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/static/css/send_message.css" media="screen">

</head>
<body>

<!--ヘッダー-->
<header>
	<ul>
		<li><a href="/index_circle"><strong>ホーム</strong></a></li>
		<li class="logout"><a href="/logout"><strong>ログアウト</strong></a></li>
	</ul>
</header>

<!-- 学生へのメッセージ入力 -->

<h3>興味のあるユーザーへのメッセージ</h3>

<ul>
{% for message in message_list %}
    <li>
        {% if message.flag %}
        <div class="onemessage-student">
            <div class="past-student">
                <div align="right">{{message.message}}<{{message.date}}> flag:{{message.flag}}</div>
            </div>
        </div>
        {% else %}
        <div class="onemessage-circle">
            <div class="past-circle">
                <div align="left">{{message.message}}<{{message.date}}> flag:{{message.flag}}</div>
            </div>
        </div>
        {% endif %}
    </li>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endfor %}
</ul>

<form action="/c_sendmessage/{{s_id}}" method="post">
        <textarea name="message" rows="40" cols="40" placeholder="ここにメッセージを入力してください"></textarea>
        <input type="submit" value="投稿">
</form>

<span><a href="/index_circle" >もどる </a></span>

</body>
</html>
