<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<title>お気に入り解除</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/static/css/unfavorited.css" media="screen">


<html>
<body>

<!--<h1>お気に入り解除完了しました！</h1>
<span><a href="/circle/{{c_id}}" >もどる </a></span> -->

<div class="contents-wrapper">
  <div class="contents">
    <div class="floating-box">
      <h1>お気に入りから外しました！</h1>
      <p>お気に入りからの登録解除をしました。</p>
      <span><a href="/circle/{{c_id}}" >もどる </a></span>
    </div>
  </div>
</div>

</body>
</html>
